@import url(__profile-image/author__profile-image.css);
@import url(__info/author__info.css);
@import url(__title/author__title.css);
@import url(__description/author__description.css);
@import url(__info-splitter/author__info-splitter.css);
@import url(__container/author__container.css);

.author {
    display: flex;
    flex-direction: row;
    background: #FFFFFF;
    min-height: 604px;
    justify-content: center;
}