.clients__description {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 133%;
    color: #1A1B22;
    max-width: 815px;
    padding-left: 104px;
}