.search-result__extend-button {
    position: absolute;
    justify-content: center;
    min-width: 288px;
    min-height: 64px;
    font-family: Roboto,serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 133%;
    display: flex;
    align-items: center;
    text-align: center;
    color: #1A1B22;
    background: #FFFFFF;
    border-radius: 80px;
    bottom: 80px;
    cursor: pointer;
    left: 43%;
}

.search-result__extend-button:hover {
    opacity: 0.9;
}