.technology__title {
    font-family: Roboto Slab,serif;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 115%;
    color: #1A1B22;
    max-width: 344px;
    margin-top: 80px;
    margin-right: 170px;
}