.header__error {
    margin-left: auto;
    margin-right: auto;
    color: red;
    position: absolute;
    top: -25px;
    left: 35px;
    font-family: Roboto,serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 133%;
}