.technology__item-name {
    font-family: Roboto,serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 133%;
    text-align: center;
    letter-spacing: 0.2px;
    color: #1A1B22;
}