@import url(./__button/footer__button.css);
@import url(./__button/footer__button-container.css);
@import url(./__copyright/footer__copyright.css);
@import url(./__icons/footer__icons.css);
@import url(./__icons/footer__icons-github.css);
@import url(./__icons/footer__icons-facebook.css);

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}