.search-result__card-title {
    font-family: Roboto Slab, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 115%;
    color: #1A1B22;
    max-width: 352px;
    padding-left: 24px;
}