<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Что в мире твориться?</title>
    <link rel="stylesheet" href="<%= htmlWebpackPlugin.files.css %>">
    <link rel="favicon" href="<%=require('./images/Group.png').default%>">
    <script type="module" src="<%= htmlWebpackPlugin.files.js %>" ></script>
</head>
<body class="body">
<section class="root">
    <header class="header">
        <div class="header__menu header__menu-black-edition">
            <p class="header__menu-logo header__menu-black">NewsAnalyzer</p>
            <div class="header__menu-container">
                <a href="./index.html" class="button header__menu-main header__menu-grey ">Главная</a>
                <a href="./about.html" class="button header__menu-about header__menu-grey ">О проекте</a>
            </div>
        </div>
    </header>
    <section class="=asked">
        <div class="asked__nav-box">
            <a href="./index.html" class="asked__main-link">Главная</a>
            <p class="asked__slash">&nbsp;/&nbsp;</p>
            <p class="asked__analytics-link">Аналитика</p>
        </div>
        <h2 class="asked__title">Вы спросили: «Путешествия»</h2>
        <div class="asked__weekly-box">
            <p class="asked__weekly-posts">Новостей за неделю:</p>
            <span class="asked__weekly-posts-counter">34 324</span>
        </div>
        <div class="asked__weekly-box">
            <p class="asked__weekly-names">Упоминаний в заголовках:</p>
            <span class="asked__weekly-names-counter">235</span>
        </div>
    </section>
    <section class="information">
        <div class="information__position-box">
            <div class="information__container">
                <h3 class="information__title">Аналитика по дням</h3>
                <div class="information__box">
                    <p class="information__date-mark">ДАТА (АВГУСТ)</p>
                    <p class="information__callouts-mark">КОЛ-ВО УПОМИНАНИЙ</p>
                </div>
            </div>
            <div class="information__amount-container">
                <div class="information__amount-box">
                    <p class="information__amount">0</p>
                    <p class="information__amount">25</p>
                    <p class="information__amount">50</p>
                    <p class="information__amount">75</p>
                    <p class="information__amount">100</p>
                </div>
            </div>
            <ul class="information__chart-list">
                <li class="information__chart-container">
                    <p class="information__date">19,пн</p>
                    <figure class="information__bar" style="width: 15%">
                        <figcaption class="information__bar-counter">15</figcaption>
                    </figure>
                </li>
                <li class="information__chart-container">
                    <p class="information__date">19,пн</p>
                    <figure class="information__bar" style="width: 18%">
                        <figcaption class="information__bar-counter">18</figcaption>
                    </figure>
                </li>
                <li class="information__chart-container">
                    <p class="information__date">19,пн</p>
                    <figure class="information__bar" style="width: 11%">
                        <figcaption class="information__bar-counter">11</figcaption>
                    </figure>
                </li>
                <li class="information__chart-container">
                    <p class="information__date">19,пн</p>
                    <figure class="information__bar" style="width: 39%">
                        <figcaption class="information__bar-counter">39</figcaption>
                    </figure>
                </li>
                <li class="information__chart-container">
                    <p class="information__date">19,пн</p>
                    <figure class="information__bar" style="width: 45%">
                        <figcaption class="information__bar-counter">45</figcaption>
                    </figure>
                </li>
                <li class="information__chart-container">
                    <p class="information__date">19,пн</p>
                    <figure class="information__bar" style="width: 73%">
                        <figcaption class="information__bar-counter">73</figcaption>
                    </figure>
                </li>
                <li class="information__chart-container">
                    <p class="information__date">19,пн</p>
                    <figure class="information__bar" style="width: 34%">
                        <figcaption class="information__bar-counter">34</figcaption>
                    </figure>
                </li>
            </ul>
            <div class="information__amount-container">
                <div class="information__amount-box information__amount-box_no-padding">
                    <p class="information__amount">0</p>
                    <p class="information__amount">25</p>
                    <p class="information__amount">50</p>
                    <p class="information__amount">75</p>
                    <p class="information__amount">100</p>
                </div>
            </div>
        </div>
    </section>
    <footer class="footer">
        <p class="footer__copyright">&copy;2019 Supersite</p>
        <div class="footer__button-container">
            <a class="button footer__button">Главная</a>
            <a class="button footer__button">О проекте</a>
            <a class="button footer__button">Яндекс.Практикум</a>
        </div>
        <div class="footer__icons">
            <img alt="гитхаб лого" class="footer__icons-github" src="<%=require('./images/Vector.png').default%>">
            <img alt="фейсбук лого" class="footer__icons-facebook" src="<%=require('./images/Vector2.png').default%>">
        </div>
    </footer>
</section>
</body>
</html>