.not-found__error {
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 115%;
    text-align: center;
    color: #1A1B22;
    max-width: 356px;
    margin: 0;
}